@{
    Layout = null;
    string? memberAvatar = null;
}

<div class="text-center mb-3">
    @{
        if (memberAvatar == null)
        {
            <img class="img-fluid rounded-circle mb-4"
                 src="@Url.Content("~/images/avatar_icon.png")" />
        }
        else
        {
            <img class="img-fluid rounded-circle mb-4"
                 src="@Url.Content("")" />
        }
    }

    <br>
    <div class="input-group">
        @*<input type="file" id="avatar" class="form-control" aria-label="Select Avatar">*@
        <button class="btn btn-primary mx-auto" type="button" id="changeAvatar">更換頭像</button>
    </div>
</div>
<br />
<ul class="offset-3 fs-4" id="sidelist">
    <li><a href="@Url.Action("MemberCenter","Member")" class="text-decoration-none">會員中心</a></li>
    <li><a href="@Url.Action("ShoppingHistory","Member")" class="text-decoration-none">購物紀錄</a></li>
    @*<li><a href="@Url.Action("","")" class="text-decoration-none">優惠券列表</a></li>*@
</ul>

