@model List<MSIT147thGraduationTopic.Models.Dtos.CartItemDisplayDto>;
@{
    ViewData["Title"] = "Index";
}


<div class="container mt-5">
    <div class="row">

        <!-- 購買主頁 -->
        <div class="col-xl-9 col-md-6">
            <!-- 進度條 -->
            <div class="progress-box d-flex position-relative justify-content-between align-items-center">

                <div class="progress position-absolute w-100" style="z-index: -1;">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger"></div>
                </div>
                <div class="progress-circle border border-4 border-danger" id="circle1">1</div>
                <div class="progress-circle border border-4 border-danger" id="circle2">2</div>
                <div class="progress-circle border border-4 border-white" id="circle3">3</div>
                <div class="progress-circle border border-4 border-white" id="circle4">4</div>
            </div>
            <!-- 進度條end -->
            <div class=" p-4 bg-white rounded shadow my-4 mx-3">
                <form name="orderForm" method="post" enctype="application/x-www-form-urlencoded">
                    <div class="order-page-container">
                        <div class="order-page">

                            <div class="order-page-single p-3" id="page1">
                                <div class="d-flex flex-column h-100">
                                    <h2 class="mb-5">基本聯絡訊息</h2>
                                    <div class="form-group row mb-3">
                                        <label for="inputName"
                                               class="col-form-label col-lg-2 text-center">姓名</label>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control" id="inputName" name="Name"
                                                   value="@ViewBag.MemberName">
                                        </div>
                                    </div>

                                    <div class="form-group row mb-3">
                                        <label for="inputPhone"
                                               class="col-form-label col-lg-2 text-center">連絡電話</label>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control" id="inputPhone" name="Phone"
                                                   value="@ViewBag.MemberPhone">
                                        </div>
                                    </div>

                                    <div class="form-group row mb-3">
                                        <label for="inputEmail"
                                               class="col-form-label col-lg-2 text-center">Email</label>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control" id="inputEmail" name="Email"
                                                   value="@ViewBag.MemberEmail">
                                        </div>
                                    </div>
                                    <div class="mt-auto row">
                                        <div class="col-auto col-lg-3"></div>
                                        <div class="col-12 col-lg-6 d-flex justify-content-between">
                                            <a type="button" class="btn btn-outline-warning order-page-button text-nowrap me-2"
                                               href="@Url.Content("~/cart")">回到購物車</a>
                                            <button type="button" class="btn btn-danger order-page-button text-nowrap"
                                                    id="nextPage2">
                                                下一頁
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <div class="order-page-single p-3" id="page2">

                                <div class="d-flex flex-column h-100">
                                    <h2 class="mb-5">取貨方式</h2>

                                    <div class="form-group row mb-3">
                                        <label for="inputAddress"
                                               class="col-form-label col-lg-2 text-center">寄送地址</label>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control" id="inputAddress" name="Address"
                                                   value="@ViewBag.MemberAddress">
                                        </div>
                                    </div>

                                    <div class="mt-auto row">
                                        <div class="col-auto col-lg-3"></div>
                                        <div class="col-12 col-lg-6 d-flex justify-content-between">
                                            <button type="button" class="btn btn-danger order-page-button text-nowrap me-2"
                                                    id="prevPage1">
                                                上一頁
                                            </button>
                                            <button type="button" class="btn btn-danger order-page-button text-nowrap"
                                                    id="nextPage3">
                                                下一頁
                                            </button>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="order-page-single p-3" id="page3">

                                <div class="d-flex flex-column h-100">
                                    <h2 class="mb-5">付款方式</h2>

                                    <div class="form-group row mb-3">
                                        <label for="inputCoupons"
                                               class="col-form-label col-lg-2 text-center">使用優惠卷</label>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control mb-2" name="CouponId" value="無" disabled />
                                            <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                                    data-bs-target="#couponModal">
                                                選擇優惠卷
                                            </button>
                                        </div>
                                    </div>

                                    <div class="form-group row mb-3">

                                        <label for="inputCoupons"
                                               class="col-form-label col-lg-2 text-center">付款方式</label>
                                        <div class="col-sm-8 d-flex  align-items-center">
                                            <div class="form-check me-4">
                                                <input class="form-check-input" type="radio" name="Payment"
                                                       id="radioPayment1" value="1" checked>
                                                <label class="form-check-label" for="radioPayment1">
                                                    信用卡
                                                </label>
                                            </div>
                                            <div class="form-check me-4">
                                                <input class="form-check-input" type="radio" name="Payment"
                                                       id="radioPayment2" value="2">
                                                <label class="form-check-label" for="radioPayment2">
                                                    LinePay
                                                </label>
                                            </div>
                                            <div class="form-check me-4">
                                                <input class="form-check-input" type="radio" name="Payment"
                                                       id="radioPayment3" value="3">
                                                <label class="form-check-label" for="radioPayment3">
                                                    銀行匯款
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mt-auto row">
                                        <div class="col-auto col-lg-3"></div>
                                        <div class="col-12 col-lg-6 d-flex justify-content-between">
                                            <button type="button" class="btn btn-danger order-page-button text-nowrap me-2"
                                                    id="prevPage2">
                                                上一頁
                                            </button>
                                            <button type="button" class="btn btn-danger order-page-button text-nowrap"
                                                    id="nextPage4">
                                                下一頁
                                            </button>
                                        </div>
                                    </div>
                                </div>



                            </div>

                            <div class="order-page-single p-3" id="page4">

                                <div class="d-flex flex-column h-100">
                                    <h2 class="mb-5">確認訂單</h2>



                                    <table class="table text-center">
                                        <thead>
                                            <tr>
                                                <th>商品</th>
                                                <th>單價</th>
                                                <th>數量</th>
                                                <th>總計</th>
                                            </tr>
                                        </thead>

                                        <tbody>

                                            @foreach (var item in Model)
                                            {
                                                int sum = item.CartItemPrice * item.Quantity;
                                                <tr>
                                                    <td>@item.CartItemName</td>
                                                    <td>$<span>@item.CartItemPrice</span></td>
                                                    <td>@item.Quantity</td>
                                                    <td>$<span>@sum</span></td>
                                                </tr>
                                            }

                                        </tbody>

                                    </table>

                                    <div class="mt-1">
                                        <hr>
                                        <div class="d-flex">
                                            <div class="ms-auto me-3">
                                                <span>金額總計:</span>
                                                <span class="mx-3">0</span>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="mt-auto row">
                                        <div class="col-auto col-lg-3"></div>
                                        <div class="col-12 col-lg-6 d-flex justify-content-between">
                                            <button type="button" class="btn btn-danger order-page-button text-nowrap me-2"
                                                    id="prevPage3">
                                                上一頁
                                            </button>
                                            <button type="button" class="btn btn-outline-danger order-page-button text-nowrap"
                                                    id="submitOrder">
                                                送出訂單
                                            </button>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <!-- 購買主頁end -->



        <diV class="col-xl-3 col-md-6">
            <!-- 訂單列表 -->
            <div class="container p-3 bg-light rounded shadow">

                <h2>訂單</h2>

                <table class="table text-center">
                    <thead>
                        <tr>
                            <!-- <th>商品</th>
                            <th>價格</th> -->
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            int sum = item.CartItemPrice * item.Quantity;
                            <tr>
                                <td>@item.CartItemName</td>
                                <td>
                                    <div class="text-secondary" style="font-size:5px;">
                                        <del>$<span>@sum</span></del>
                                    </div>
                                    <div>
                                        $<span>@(sum * item.DiscountPercentage / 100)</span>
                                    </div>

                                </td>
                            </tr>
                        }

                    </tbody>

                </table>

                <div class="mt-5">
                    <hr>
                    <div class="d-flex">
                        <div class="ms-auto me-3">
                            <span>金額總計:</span>
                            <span class="mx-3">0</span>
                        </div>
                    </div>
                </div>

            </div>

            <!-- 訂單列表end -->
        </diV>
    </div>
</div>






<!-- Modal -->
<div class="modal fade" id="couponModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">選擇優惠卷</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="d-flex py-2">
                    <div class="px-3">
                        <label>折價種類</label>
                        <select>
                            <option>所有</option>
                            <option>test</option>
                            <option>test</option>
                        </select>
                    </div>
                    <div class="px-3">
                        <label>折價方式</label>
                        <select>
                            <option>所有</option>
                            <option>test</option>
                            <option>test</option>
                        </select>
                    </div>
                </div>


                <table class="table">
                    <tbody>

                        @{
                            for (int i = 0; i < 30; i++)
                            {
                                <tr>
                                    <td> <input type="checkbox" class="form-check-input"> </td>
                                    <td>XXX優惠卷</td>
                                    <td>滿千送百</td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




@section Scripts{
    <script src="~/js/customAnimate.js"></script>
    <script>
        //優惠卷單選
        $('#couponModal').find('input[type=checkbox]').click(e => {
            $(e.currentTarget).closest('table').find('input[type=checkbox]').prop('checked', false)
            $(e.currentTarget).prop('checked', true)
        })

        //上一頁按鈕
        $('#prevPage1').click(e => {
            $('.progress-bar').css('width', '0%')
            $('#circle2').addClass('border-white').removeClass('border-danger')
            $('.order-page').css('left', '0%')
            document.querySelector('#page1').customAnimate('backInLeft')
        })
        $('#prevPage2').click(e => {
            $('.progress-bar').css('width', '33%')
            $('#circle3').addClass('border-white').removeClass('border-danger')
            $('.order-page').css('left', '-100%')
            document.querySelector('#page2').customAnimate('backInLeft')

        })
        $('#prevPage3').click(e => {
            $('.progress-bar').css('width', '66%')
            $('#circle4').addClass('border-white').removeClass('border-danger')
            $('.order-page').css('left', '-200%')
            document.querySelector('#page3').customAnimate('backInLeft')
        })

        //下一頁按鈕
        $('#nextPage2').click(e => {
            $('.progress-bar').css('width', '33%')
            $('#circle2').addClass('border-danger').removeClass('border-white')
            $('.order-page').css('left', '-100%')
            document.querySelector('#page2').customAnimate('backInRight')
        })
        $('#nextPage3').click(e => {
            $('.progress-bar').css('width', '66%')
            $('#circle3').addClass('border-danger').removeClass('border-white')
            $('.order-page').css('left', '-200%')
            document.querySelector('#page3').customAnimate('backInRight')

        })
        $('#nextPage4').click(e => {
            $('.progress-bar').css('width', '100%')
            $('#circle4').addClass('border-danger').removeClass('border-white')
            $('.order-page').css('left', '-300%')
            document.querySelector('#page4').customAnimate('backInRight')
        })




    </script>
    }

@section Styles{
    <style>
        div.progress-circle {
            color: white;
            background-color: #f34764;
            /* border: 3px solid var(--line-border-empty); */
            border-radius: 50%;
            width: 40px;
            height: 40px;
            /* 讓數字置中對齊 */
            display: flex;
            justify-content: center;
            align-items: center;
            transition: border 0.5s linear;
        }

        .order-page-container {
            position: relative;
            height: 500px;
            overflow: hidden;
        }

        .order-page {
            position: absolute;
            width: 400%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            transition: left 0.3s linear;
        }

        .order-page-single {
            width: 25%;
            height: 100%;
        }

        .order-page-button {
            width: 150px;
        }

    </style>
    }

