@model IEnumerable<MSIT147thGraduationTopic.EFModels.Spec>

@{
    Layout = "_MallPage";
    ViewData["Title"] = "尋找商品";
}

<!-- 搜尋列 / 分頁 / 排序(新舊.價格) -->
@*←**********響應式功能未做****************@
<nav class="bd-subnavbar py-2" aria-label="Secondary navigation">
    <div class="container-xxl d-flex align-items-md-center" style="background-color:pink">
        <!-- 關鍵字搜尋 -->
        <form class="bd-search position-relative me-auto mx-5" id="keywordsearch">
            <span class="algolia-autocomplete" style="position: relative; display: inline-block; direction: ltr;">
                <!-- 選擇搜尋條件 -->
                <label class="input-group-text" for="searchCondition">選擇搜尋條件</label>
                <select class="form-select conditionname" name="searchCondition">
                    <option value="1">商品名稱</option>
                    <option value="2">品牌名稱</option>
                    <option value="3">類別名稱</option>
                </select>@*←**********待解決會垂直排列的問題****************@
                <!-- 輸入關鍵字 -->
                <input type="search" class="form-control ds-input" name="txtKeyword" id="search-input" placeholder="搜尋關鍵字" aria-label="Search docs for..." autocomplete="off" data-bd-docs-version="5.1" spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-owns="algolia-autocomplete-listbox-0" dir="auto" style="position: relative; vertical-align: top;">
                <input type="submit" value="尋找商品" class="btn btn-secondary" />
                <span class="ds-dropdown-menu" role="listbox" id="algolia-autocomplete-listbox-0" style="position: absolute; top: 100%; z-index: 100; display: none; left: 0px; right: auto;">
                    <div class="ds-dataset-1"></div>
                </span>
            </span>
        </form>

        @*<div class="dropdown ms-md-auto d-flex mx-5">
        <!-- 每頁顯示筆數 -->
        <div class="d-flex select-limit js-select-limit mx-5" style="align-items: center;">
        每頁顯示 :
        <button type="button" class="btn btn-link pageSize" style="margin: -5px" value="20">20</button>
        <button type="button" class="btn btn-link pageSize" style="margin: -10px" value="50">50</button>
        <button type="button" class="btn btn-link pageSize" style="margin: -5px" value="70">70</button>
        筆
        </div>

        @using (Html.BeginForm())
        {
        <!-- 排序方式 -->
        <div class="dropdown ms-md-auto">
        <select class="form-select" name="displayorder" id="displayorder" aria-label="Floating label select example">
        <option value="0">最新商品</option>
        <option value="1">由舊到新</option>
        <option value="2">熱門商品</option>
        <option value="3">價格由低至高</option>
        <option value="4">價格由高至低</option>
        </select>
        </div>
        }
        </div>*@
</nav>


<div class="container">
    <div class="row">
        <!-- 側邊工具列 -->
        <div class="col-12 col-md-2 my-3">
            <nav class="navbar navbar-expand-lg navbar-light bg-light flex-column">
                <div class="container-fluid ">

                    <!-- 小視窗用摺疊按鈕(未完成) -->
                    <button class="navbar-toggler" href="#sublist" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- 小視窗時摺疊區域 -->
                    <div class="navbar-collapse collapse">
                        <ul class="navbar-nav flex-column" id="sublist">
                            <!-- 摺疊選單 for 商品類別****************不用附符合商品數 -->
                            <li class="nav-item">
                                <a class="nav-link collapsed" href="#categoryOptions" data-bs-toggle="collapse" aria-expanded="false">商品類別</a>
                                <ul id="categoryOptions" class="list-unstyled collapse mx-4">
                                    <li class="my-1 ">
                                        <a href="#" class="selectCategory" val-category="類別ID">類別名稱 (符合商品數)</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- 摺疊選單 for 寵物類型 -->
                            <li class="nav-item">
                                <a class="nav-link collapsed" href="#tagOptions" data-bs-toggle="collapse" aria-expanded="false">寵物類型(未實裝)</a>
                                <ul id="tagOptions" class="list-unstyled collapse mx-4">
                                    <li class="my-1">
                                        <a href="#" class="selectTag" val-category="0">不限</a>
                                    </li>
                                    <li class="my-1">
                                        <a href="#" class="selectTag" val-category="1">貓咪</a>
                                    </li>
                                    <li class="my-1">
                                        <a href="#" class="selectTag" val-category="2">狗狗</a>
                                    </li>
                                    <li class="my-1">
                                        <a href="#" class="selectTag" val-category="3">鼠寶</a>
                                    </li>
                                    <li class="my-1">
                                        <a href="#" class="selectTag" val-category="4">兔寶</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- 摺疊選單 for 價格區間 -->
                            @*<li class="nav-item">
                            <a class="nav-link collapsed" href="#sublist3" data-bs-toggle="collapse" aria-expanded="false">價格區間</a>
                            <ul id="sublist3" class="list-unstyled collapse mx-4">
                            <input type="number" min="0" id="minPrice" placeholder="最低價" style="width:75px; height:32px" /> -
                            <input type="number" min="0" id="maxPrice" placeholder="最高價" style="width:75px; height:32px" />
                            <br />
                            <button type="button" id="sendPriceRange" class="btn btn-secondary">查詢</button>
                            </ul>
                            </li>*@

                        </ul>

                    </div>
                </div>
            </nav>
        </div>

        <!-- 中間商品欄 -->
        <div class="col-12 col-md-10">
            <div class="container ">
                <div class="row">
                    <div class="col-12 col-md-5 py-3">
                        <div class="item">
                            <!-- ********************待設定規格(固定邊長、裁切方式)************************* -->
                            <img id="mainPicture" src="@Url.Content("~/uploads/merchandisePicture/")default.png" width="100%" class="pb-3">
                            <div class="image-container">
                                <!-- ********************待設定規格(固定邊長、裁切方式)************************* -->
                                @*//todo換成商品照*@
                                <img src="@Url.Content("~/uploads/merchandisePicture/")default.png" class="mainImage specImage" width="20%">
                                @{
                                    foreach (var item in Model)
                                    {
                                        string img = (@item.ImageUrl == null) ? "default.png" : @item.ImageUrl;
                                        <img src="@Url.Content("~/uploads/specPicture/")@img" class="specImage" width="20%">
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-5 pt-3">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item" id="defaultSearch"><a href="#">商品總覽</a></li>
                                <li class="breadcrumb-item" id="showCategoryName">類別名稱</li>
                            </ol>
                        </nav>
                        <h2 id="showMerchandiseName">商品名稱</h2><div id="merchandiseIdContainer" val-id="@Model.First().MerchandiseId" style="display:none"></div>
                        <br>
                        <h5>價格：<span id="showPrice"></span></h5>
                        <h5>庫存數量：<span id="showAmount"></span></h5>
                        <h5>產品介紹：</h5>
                        <p id="showDescription"></p>
                        <div>
                            @{
                                foreach (var item in Model)
                                {
                                    <button type="button" val-price="@item.Price" val-amount="@item.Amount" class="btn btn-outline-secondary mx-1 my-1 showSpec">@item.SpecName</button>
                                }
                            }
                        </div>
                        <div>
                            <div class="input-group mx-1 mt-3">
                                <button class="btn btn-outline-secondary" type="button" id="button_minus">  -  </button>
                                <input id="buyAmount" type="number" class="form-control" aria-label="Example text with button addon" min="1" value="1" aria-describedby="button-addon1">
                                <button class="btn btn-outline-secondary" type="button" id="button_plus">  +  </button>
                                <button type="button" class="btn btn-outline-secondary mx-2">加入購物車</button>
                            </div>

                        </div>

                        <br>
                        <div class="text-end">共計：<span id="totalPrice"></span></div>
                        @*
                        $(".specImage")各規格照片
                        *@


                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div>
    <!-- 推薦商品(未實裝) -->
</div>

@section Scripts{
    @*搜尋功能待改(回傳參數)*@
    <script>
        let purchaseAmount = 1;
        let currentPrice;
        let maxAmount;

        $(async () => {
            //產生商品資料
            const CategoryName = document.querySelector("#showCategoryName")
            const MerchandiseName = document.querySelector("#showDescription")
            const Description = document.querySelector("#showDescription")

            const merchandiseId = $("#merchandiseIdContainer").attr("val-id");
            console.log("ID=" + merchandiseId);

            const response = await fetch(`@Url.Content("~/ApiSpec/ShowMerchandise/")${merchandiseId}`);
            const returnJsonBag = await response.text();
            const searchResult = JSON.parse(returnJsonBag)[0];
            console.log(searchResult);

            CategoryName.innerHTML = searchResult.categoryName;
            console.log(searchResult.categoryName);
            MerchandiseName.innerHTML = searchResult.merchandiseName;
            Description.innerHTML = searchResult.description;
            const imgPath = (searchResult.imageUrl == null) ? "default.png" : searchResult.imageUrl;
            $("#mainPicture").attr("src", `@Url.Content("~/uploads/merchandisePicture/")${imgPath}`);

            $(".showSpec").first().click();
        })

        //設定規格按鈕
        $(".showSpec").on("click", (e) => {
            console.log("FUNCTION click");
            $(".showSpec").attr("class", "btn btn-outline-secondary mx-1 my-1 showSpec");
            $(e.currentTarget).attr("class", "btn btn-primary mx-1 my-1 showSpec");
            currentPrice = $(e.currentTarget).attr("val-price");
            maxAmount = $(e.currentTarget).attr("val-amount");
            $("#showPrice").text(currentPrice + " 元");
            $("#showAmount").text(maxAmount);
            $("#buyAmount").attr("max", maxAmount);
            purchaseAmount = 1;
            $("#buyAmount").val(purchaseAmount);
            $("#buyAmount").change();
        });
        //增減選擇數
        $("#button_minus").on("click", () => {
            if (purchaseAmount > 1) {
                purchaseAmount--;
                $("#buyAmount").val(purchaseAmount);
                $("#buyAmount").change();
            }
        })
        $("#button_plus").on("click", () => {
            if (purchaseAmount < maxAmount) {
                purchaseAmount++;
                $("#buyAmount").val(purchaseAmount);
                $("#buyAmount").change();
            }
        })
        $("#buyAmount").on("change", () => {
            $("#totalPrice").text((purchaseAmount * currentPrice) + " 元");
        })


        //回到所有商品(重置搜尋條件)
        $("#defaultSearch").on("click", () => {
            window.location.href = `/Mall/Index`;
        });

    </script>
}

@section Styles{

}