@model IEnumerable<MSIT147thGraduationTopic.Models.ViewModels.EvaluationVM>

@{
    Layout = "_BackstagePage";
    ViewData["Title"] = "BackStage";
}


<div class="container mt-5">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div>
                <form method="post" id="SearchForm">
                <div class="row g-3 align-items-center ">
                    <div class="col-auto ms-auto float-end d-flex align-items-center"> 
                        <input name="Keyword" id="txtkeyword" type="text" class="form-control-sm d-flex mx-2 " style="height: 38px;" placeholder="請輸入關鍵字">
                        <img src="~/images/search.jpg" class="rounded-3 d-flex" id="btnKeywordImage" style="cursor: pointer;" />
                    </div>

                </div>
                </form>
            </div>
            <table class="table bg-white mt-3 rounded-3 ">
                <thead>
                    <tr>
                        <th style="text-align:center">
                            勾選
                            @*@Html.DisplayNameFor(model => model.Comment)*@
                        </th>
                        <th>

                            @Html.DisplayNameFor(model => model.OrderId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MerchandiseName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Score)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Comment)
                        </th>
                        <th>
                            刪除
                            @*@Html.DisplayNameFor(model => model.Order)*@
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if(Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="text-align:center">
                                    <input class="form-check-input" type="checkbox" id="gridCheck" name="checitem " data-id="@item.EvaluationId">
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MerchandiseName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Score)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Comment)
                                </td>
                                <td>
                                    <button type="submit" id="btnDelete" class="btn btn-primary btnDelete" data-id="@item.EvaluationId">刪除</button>
                                </td>
                            </tr>
                        }
                    }                  
                </tbody>
            </table>
            <!-- 顯示分頁控制元件 -->
            <nav aria-label="Page navigation example">
                <button id="btnChecitem" class="btn btn-primary ">刪除所有勾選</button>
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("EBIndex", new { pageNo = (ViewBag.PageNo - 1)>0?ViewBag.PageNo - 1:ViewBag.PageNo })" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <div class="pagination ">
                        @for (int i = 1; i <= ViewBag.TotalPage; i++)
                        {
                        <li class="page-item @(i == ViewBag.PageNo ? "active" : "")">
                                @*若ViewBag.PageNo為當頁,把active加上*@
                                <a class="page-link pageclick" href="@Url.Action("EBIndex", new { pageNo = i })">@i</a>
                            </li>
                        }
                    </div>
                    <li class="page-item">
            <a class="page-link" href="@Url.Action("EBIndex", new { pageNo = (ViewBag.PageNo + 1) @*< ViewBag.PageNo ?ViewBag.PageNo + 1:ViewBag.PageNo*@ })" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>          
        </div>
        <div class="col-1"></div>
    </div>
</div>

@section Scripts{
    <script>
        //刪除單筆留言
        $('.btnDelete').click(function () {

            var evaluationId = $(this).attr('data-id');

            console.log(evaluationId);

            $.post('/EvaluationBackstage/Delete', { id: evaluationId }, function (data) {
                window.location.reload(); //重載畫面
            });
        });

        //刪除全部留言
        //$('#btnChecitem').click(function () {

        //    var Checitems = $(this).attr('data-id').List();

        //    console.log(this);

        //    $.post('/EvaluationBackstage/Delete', { id: evaluationId }, function (data) {
        //        window.location.reload(); //重載畫面
        //    });
        //});
        
        

        //關鍵字搜尋
        $("#btnKeywordImage").click(function(){
            var keywordValue = $("#txtkeyword").val();
            console.log(keywordValue);
            $("#SearchForm").submit();
        })
        


    </script>

}
