@model MSIT147thGraduationTopic.EFModels.Spec

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Spec</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpecName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplayOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OnShelf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OnShelf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountPercentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountPercentage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Merchandise)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Merchandise.MerchandiseName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SpecId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
