@model IEnumerable<MSIT147thGraduationTopic.EFModels.Spec>

@{
    Layout = "_BackstagePage";
    ViewData["Title"] = "商品規格檢視";
}

<div class="container">
    <h1 class="title">商品規格檢視</h1>

    <div class="bg-light rounded shadow p-5">
        <p>
            @Html.ActionLink("新增商品規格", "Create", "Specs", null, new { @class = "btn btn-primary" })
        </p>
        <hr />
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        檢視序號
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SpecName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DiscountPercentage)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DisplayOrder)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OnShelf)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    int count = 0;
                    foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td>
                                @count
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SpecName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DiscountPercentage)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DisplayOrder)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OnShelf)
                            </td>
                            <td>
                                @Html.ActionLink("修改", "Edit", "Specs", new { id=item.SpecId }, new { @class = "btn btn-warning" }) |
                                @Html.ActionLink("刪除", "Delete", "Specs", new { id=item.SpecId }
                                                    , new { onclick = "return confirm('確定刪除商品規格嗎？')", @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <div class="form-group">
            @Html.ActionLink("回到商品檢視", "Index", "Merchandises", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
</div>

@section Scripts {

}

@section Styles{
    <style>
        .title {
            margin-top: 30px;
            margin-bottom: 10px;
        }
    </style>
}