@model IEnumerable<MSIT147thGraduationTopic.Models.ViewModels.EvaluationVM>
@{
    int merchandiseId = (int)ViewData["MerchandiseId"];
}

<div>
    @if (Model.Count() > 0)
    {
       @for (int i = 1; i < Model.Count(); i++)
            {
            var item = Model.ElementAt(i);//ElementAt 將返回索引 n 的專案
            <div style="border-block-color:#FFDDAA;border-width: 2px">
                <div class="mt-4 d-flex align-items-center">
                    <div class="d-flex rounded-3 px-1 " style="background-color:#FFDDAA">
                        <div class="mx-1 mt-2">
                            <h6 id="MerchandiseName_@(i)">@(item.MerchandiseName)</h6>
                        </div>
                        <div class="mt-2">
                            <h6 id="SpecName_@(i)"> @(item.SpecName)</h6>
                        </div>
                    </div>

                    <div class="d-flex ms-auto float-end">
                        <div id="score_@(i)" name="Score" class="float-end mx-1 mt-3" itype="starDiv">
                            <input id="inputscore_@(i)" name="comments[@(i)].Score" value="@(item.Score)" hidden>
                            <img id="star@(i)_1" src=@(item.Score>=1?"/images/一星.png":"/images/空星.png") style="height:40px" />
                            <img id="star@(i)_2" src=@(item.Score>=2?"/images/二星.png":"/images/空星.png") style="height:40px" />
                            <img id="star@(i)_3" src=@(item.Score>=3?"/images/三星.png":"/images/空星.png") style="height:40px" />
                            <img id="star@(i)_4" src=@(item.Score>=4?"/images/四星.png":"/images/空星.png") style="height:40px" />
                            <img id="star@(i)_5" src=@(item.Score==5?"/images/五星.png":"/images/空星.png") style="height:40px" />
                        </div>
                    </div>
                </div>
                <div class="form-floating mx-2 mt-2 mb-4">
                    <textarea id="commentText_@(i)" name="comments[@(i)].Comment" class="form-control" placeholder="請輸入您的評價~" style="height: 100px">@(item.Comment)</textarea>
                    <label for="floatingTextarea2">@(item.Comment)</label>
                </div>
            </div>
        }
        <div id="loadMore" data-page="1" class="text-center my-3" style="cursor: pointer;">@((Model.Count()) > 5 ?"看更多..":" ")</div>
    }
    else{         
         <div class="container">
            <div class="row justify-content-center my-5 text-center"> 
                @ViewBag.noEvaluation
            </div >
        </div>
    }
    
</div>



@section InlineScripts{
    <script>
        var page = 1; 
        var pageSize = 5; // 一次五筆
        var maxPages = 3; // 最大加载次数

        $("#loadMore").on("click", function () {
            if (page <= maxPages) {
                page++;
                loadMoreComments();
            }
        });

        function loadMoreComments() {
            $.ajax({
                url: "@Url.Action("LoadMoreComments", "InvokeAsync")", 
                type: "GET",
                data: { merchandiseId: @ViewData["MerchandiseId"], page: page, pageSize: pageSize },
                success: function (data) {
                if (data.length > 0 ) {
                    for (var i = 0; i < data.length; i++) {
                        // 创建新的留言元素
                        var newComment = $('<div class="comment"></div>');

                        // 填充留言元素的内容
                        newComment.append('<h6>' + data[i].MerchandiseName + '</h6>');
                        // 其他留言内容

                        // 将新的留言元素添加到页面中
                        $("#commentContainer").append(newComment);
        }
                } 
                else {
                    $("#loadMore").hide(); // 隐藏按钮，没有更多留言了
                }},
                    
                });
            }
    </script>
}