@model IEnumerable<MSIT147thGraduationTopic.EFModels.MerchandiseSearch>

@{
    Layout = "_BackstagePage";
    ViewData["Title"] = "商品列表檢視";
}

<div class="container">
<h1>商品列表檢視</h1>

<div>
    @using (Html.BeginForm())
    {
            <div class="form-group row col-sm-4">
                <div class="input-group mb-3">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        選擇搜尋條件
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">商品名稱</a></li>
                        <li><a class="dropdown-item" href="#">品牌名稱</a></li>
                        <li><a class="dropdown-item" href="#">類別名稱</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Separated link</a></li>
                    </ul>
                    <input type="text" class="form-control" aria-label="Text input with dropdown button">
                    <input type="submit" value="Search" class="btn btn-secondary" />
                </div>
            </div>
    }
</div>
<br />
<p>
    @Html.ActionLink("新增商品", "Create", "Merchandises", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MerchandiseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Display)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MerchandiseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Display)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MerchandiseId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MerchandiseId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MerchandiseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
    </table>
</div>
