@using MSIT147thGraduationTopic.Models.Dtos;
@model CouponDto
@{
    Layout = "_BackstagePage";
    ViewData["Title"] = "優惠券管理系統";
    var listEditData = Model;
}

<header class="container px-5 mt-5">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a id="hrefHomePage">優惠券管理系統</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">打折優惠券修改頁面</li>
        </ol>
    </nav>
</header>
<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <!-- Page Content-->
        <section class="py-5">
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h1 class="fw-bolder">打折優惠券修改頁面</h1>
                    <p class="lead fw-normal text-muted mb-0"></p>
                </div>
                <div class="container px-5 my-5">
                    <div class="row justify-content-center">
                        <form id="edit" name="edit" method="post" enctype="multipart/form-data" data-index="-1" class="need-validation" novalidate>
                        </form>
                        <div class="col-8 mb-3">
                            優惠券序號<input type="hidden" name="CouponId" value="@Model.CouponId" class="form-control">
                        </div>
                        <div class="col-8 mb-3">
                            優惠券名稱<input type="text" name="CouponName" value="@Model.CouponName" class="form-control" placeholder="請輸入優惠券名稱">
                        </div>
                        <div class="col-8 mb-3">
                            適用對象<select name="CouponTagId" value="@Model.CouponTagId" class="form-select form-control" placeholder="請選擇適用對象">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class="col-8 mb-3">
                            開始日期<input name="CouponStartDate" value="@Model.CouponStartDate.ToString("yyyy-MM-dd")" type="date" class="form-control" placeholder="請輸入使用期限">
                        </div>
                        <div class="col-8 mb-3">
                            結束日期<input name="CouponEndDate" value="@Model.CouponEndDate.ToString("yyyy-MM-dd")" type="date" class="form-control" placeholder="請輸入使用期限">
                        </div>
                        <div class="col-8 mb-3">
                            折扣百分比<input name="CouponDiscount" value="@Model.CouponDiscount" type="number" class="form-control" placeholder="請輸入折扣百分比">
                        </div>
                    </div>

                    <div class="row justify-content-center px-5 my-5">
                        <div class="col-auto">
                            <button type="button" class="btn btn-primary" id="btnEdit">修改</button>
                            <button type="button" class="btn btn-primary" id="btnBack">返回</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Footer-->
    <footer class="bg-dark py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Your Website 2023</div></div>
                <div class="col-auto">
                    <a class="link-light small" href="#!">Privacy</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Terms</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Contact</a>
                </div>
            </div>
        </div>
    </footer>
</body>

@section Styles{
    <style>
    </style>
}

@section Scripts{
    <script>
        const couponId = '@Model.CouponId';

        //$('#btnEdit').click(async function () {
    
        //    const formData = $('#edit').serialize();
        //        const editUrl = `@Url.Content("~/ApiCoupon/DiscountEdit/")${couponId}`
        //    console.log(editUrl);
        //        console.log(formData)
        //    $.ajax({
        //        url: editUrl,
        //        type: 'PUT',
        //        data: formData,
        //        success: function (formData) {
        //            Swal.fire({
        //                icon: 'success',
        //                title: '成功',
        //                text: '優惠券更新成功',
        //            });
        //        },
        //        error: function (xhr) {
        //            Swal.fire({
        //                icon: 'error',
        //                title: '失敗',
        //                text: '優惠券更新失敗，請檢查資料及格式是否正確',
        //            });
        //        }
        //    });
        //});

        $('#btnBack').on('click', function () {
            Swal.fire({
                title: '確定要返回主頁面?',
                showDenyButton: true,
                confirmButtonText: '取消',
                denyButtonText: `返回主頁面`,
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isDenied) {
                    location.href = `@Url.Content("~/CouponsBackstageSettings/Index")`;
                }
            })
        })
        $('#hrefHomePage').on('click', function () {
            Swal.fire({
                title: '確定要返回主頁面?',
                showDenyButton: true,
                confirmButtonText: '取消',
                denyButtonText: `返回主頁面`,
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isDenied) {
                    location.href = `@Url.Content("~/CouponsBackstageSettings/Index")`;
                }
            })
        })
    </script>

}
